.chat-green {
    background-color: rgba(0, 255, 0, 0.1);
}
.chat-red {
    background-color: rgba(255, 0, 0, 0.1);
}
.chat-gray {
    background-color: rgba(0, 0, 0, 0.1);
}
.chat-right {
    margin-left: 30% !important;
}
.chat-left {
    margin-right: 30% !important;
}