/* fond de couleur pour les messages du chat */

.chat-green {
	background-color: rgba(0, 255, 0, 0.1);
}
.chat-red {
	background-color: rgba(255, 0, 0, 0.1);
}
.chat-gray {
	background-color: rgba(0, 0, 0, 0.1);
}

/* taille des messages du chat */

.chat-right {
	margin-left: 30% !important;
	margin-right: 1% !important;
}
.chat-left {
	margin-right: 30% !important;
	margin-left: 1% !important;
}

.themeLogo {
	background: transparent; 
	border: none; 
	font-size: 24px;
	cursor: pointer;
}

.bg-dark input,
.bg-dark textarea {
	background-color: #333; 
	color: #fff;
}

.bg-dark ::placeholder {
	color: #ccc; 
}

.bg-dark input:focus,
.bg-dark textarea:focus {
	background-color: #333; /* Quand l'utilisateur est entrain d'écrire */ 
	color: #fff;
}

.bg-dark select {
	color: #fff; 
}


.bg-dark .card.mb-4 {
	background-color: #333; 
	border-color: #333; 
}

.bg-dark .card.mb-4 .card-body {
	color: #fff; 
}

.bg-dark th {
	background-color: #555; 
	color: #fff; 
}


.bg-dark .card {
	background-color: #333; 
	border-color: #333; 
	color: #fff; 
}

.bg-dark h1,
.bg-dark h2 {
	color: #fff; 
}

.bg-dark label {
	color: #fff; 
}

.bg-dark tr,
.bg-dark td {
	color: #fff; 
}

.bg-dark p {
	color: #fff;
}

.bg-dark small {
	color: #fff;
}
 
.bg-dark .list-group-item {
	color: #fff;
	background-color: #333;
}

.bg-dark .col-md-12.text-center {
	color: #fff; /* Bouton VS page accueil */
}

.bg-dark h3 {
	color: #fff;
}

/*
body {
      cursor: url('https://cdn-icons-png.flaticon.com/512/3771/3771695.png'), auto;
}*/


